@using System.Globalization;
@using DUMVC.DTO;
@model IEnumerable<StudentFull>
<h2>Students</h2>
<table class="table">
    <tr>
        <th>Student ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Course</th>
        <th>Hobbies</th>
        <th colspan="2">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.student.Id</td>
            <td>@item.student.FirstName</td>
            <td>@item.student.LastName</td>
            <td>
                @{
                    DateTime dateTime = DateTime.ParseExact(item.student.DOB, "yyyy/MM/dd", CultureInfo.InvariantCulture);
                    var age = DateTime.UtcNow.Year - dateTime.Year;

                    @Html.DisplayTextFor(model =>age);
                }
            </td>
            <td>@item.student.course.Name</td>
            <td>
                <ul>
                @foreach(var i in item.hobby)
                {
                        <li>@i.Name</li>
                }
                </ul>
            </td>

            <td><a asp-controller="Student" asp-action="Edit" asp-route-id="@item.student.Id" class="btn btn-sm btn-dark">Edit</a></td>
            <td><a asp-controller="Student" asp-action="Delete" asp-route-id="@item.student.Id" class="btn btn-sm btn-dark">Delete</a></td>
        </tr>
    }
</table>